<h2>Administrador</h2>
<p>Pagina del administrador</p>
<ul>
    <li><a href="<%=usuarios_path%>">Usuarios</a></li>
    <li><a href="<%=platillos_path%>">Platillos</a></li>
    <li><a href="#">Establecimientos</a></li>
    <li><a href="#">Pedidos</a></li>
</ul>