<div class="flex flex-row items-center min-[320px]:p-2 sm:p-3 md:p-4 lg:p-5">
    <p class="font-ubuntu pr-2 font-bold text-[#C80D0D] min-[320px]:text-[16px] sm:text-[20px] md:text-[24px] lg:text-[28px]">Menú</p>
    <div class="w-full"><hr class="border border-dashed border-[#C80D0D]"></div>
</div>

<div class="min-[320px]:px-2 min-[320px]:pb-2 min-[320px]:space-y-2 sm:px-3 sm:pb-3 sm:space-y-3 md:px-4 md:pb-4 md:space-y-4 lg:space-y-0 lg:grid-cols-2 lg:grid lg:px-5 lg:pb-5">
    <div class="relative group flex place-items-center place-content-center rounded-lg bg-[url('../media/img/hamburg.jpg')] bg-cover bg-center min-[320px]:h-[96px] sm:h-[128px] md:h-[180px] lg:mr-5 lg:h-[200px]">
        <div class="absolute w-full bg-[rgba(0,0,0,0.5)] bg-cover h-full flex items-center place-content-center rounded-lg">
            <p class=" text-white font-bold min-[32px]:text-[24px] min-[320px]:group-hover:text-[28px] sm:text-[32px] sm:group-hover:text-[36px] md:text-[36px] md:group-hover:text-[40px] lg:text-[40px] lg:group-hover:text-[44px]">Hamburguesas</p>
        </div>
    </div>

    <div class="relative group flex place-items-center place-content-center rounded-lg bg-[url('../media/img/hamburg.jpg')] bg-cover bg-center min-[320px]:h-[96px] sm:h-[128px] md:h-[180px] lg:h-[200px]">
        <div class="absolute w-full bg-[rgba(0,0,0,0.5)] bg-cover h-full flex items-center place-content-center rounded-lg">
            <p class=" text-white font-bold min-[320px]:text-[24px] min-[320px]:group-hover:text-[28px] sm:text-[32px] sm:group-hover:text-[36px] md:text-[36px] md:group-hover:text-[40px] lg:text-[40px] lg:group-hover:text-[44px]">Hamburguesas</p>
        </div>
    </div>
</div>

<div class="min-[320px]:px-2 min-[320px]:pb-2 min-[320px]:space-y-2 sm:px-3 sm:pb-3 sm:space-y-3 md:px-4 md:pb-4 md:space-y-4 lg:space-y-0 lg:grid-cols-2 lg:grid lg:px-5 lg:pb-5">
    <div class="relative group flex place-items-center place-content-center rounded-lg bg-[url('../media/img/hamburg.jpg')] bg-cover bg-center min-[320px]:h-[96px] sm:h-[128px] md:h-[180px] lg:mr-5 lg:h-[200px]">
        <div class="absolute w-full bg-[rgba(0,0,0,0.5)] bg-cover h-full flex items-center place-content-center rounded-lg">
            <p class=" text-white font-bold min-[32px]:text-[24px] min-[320px]:group-hover:text-[28px] sm:text-[32px] sm:group-hover:text-[36px] md:text-[36px] md:group-hover:text-[40px] lg:text-[40px] lg:group-hover:text-[44px]">Hamburguesas</p>
        </div>
    </div>

    <div class="relative group flex place-items-center place-content-center rounded-lg bg-[url('../media/img/hamburg.jpg')] bg-cover bg-center min-[320px]:h-[96px] sm:h-[128px] md:h-[180px] lg:h-[200px]">
        <div class="absolute w-full bg-[rgba(0,0,0,0.5)] bg-cover h-full flex items-center place-content-center rounded-lg">
            <p class=" text-white font-bold min-[320px]:text-[24px] min-[320px]:group-hover:text-[28px] sm:text-[32px] sm:group-hover:text-[36px] md:text-[36px] md:group-hover:text-[40px] lg:text-[40px] lg:group-hover:text-[44px]">Hamburguesas</p>
        </div>
    </div>
</div>

<div class="min-[320px]:px-2 min-[320px]:pb-2 min-[320px]:space-y-2 sm:px-3 sm:pb-3 sm:space-y-3 md:px-4 md:pb-4 md:space-y-4 lg:space-y-0 lg:grid-cols-2 lg:grid lg:px-5 lg:pb-5">
    <div class="relative group flex place-items-center place-content-center rounded-lg bg-[url('../media/img/hamburg.jpg')] bg-cover bg-center min-[320px]:h-[96px] sm:h-[128px] md:h-[180px] lg:mr-5 lg:h-[200px]">
        <div class="absolute w-full bg-[rgba(0,0,0,0.5)] bg-cover h-full flex items-center place-content-center rounded-lg">
            <p class=" text-white font-bold min-[32px]:text-[24px] min-[320px]:group-hover:text-[28px] sm:text-[32px] sm:group-hover:text-[36px] md:text-[36px] md:group-hover:text-[40px] lg:text-[40px] lg:group-hover:text-[44px]">Hamburguesas</p>
        </div>
    </div>

    <div class="relative group flex place-items-center place-content-center rounded-lg bg-[url('../media/img/hamburg.jpg')] bg-cover bg-center min-[320px]:h-[96px] sm:h-[128px] md:h-[180px] lg:h-[200px]">
        <div class="absolute w-full bg-[rgba(0,0,0,0.5)] bg-cover h-full flex items-center place-content-center rounded-lg">
            <p class=" text-white font-bold min-[320px]:text-[24px] min-[320px]:group-hover:text-[28px] sm:text-[32px] sm:group-hover:text-[36px] md:text-[36px] md:group-hover:text-[40px] lg:text-[40px] lg:group-hover:text-[44px]">Hamburguesas</p>
        </div>
    </div>
</div>